.icon-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

}
.icon-row__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.icon-row__icons i {
    font-size: 35px;
}

.icon-row__icons span {
    margin-top: 15px;
}
