.screen-header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    margin: 25px;
    margin-bottom: -9px;

}

.screen-header__title {
    font-size: 28px;
    font-weight: 600;
}

.screen-header__icons span {
    margin-left: 25px;
    justify-content: space-between;
}

@keyframes rotateCog {
    from {
        transform: none;
    }

    to{
        transform: rotateZ(360deg);
    }
}

.screen-header__icons .fa-gear:hover {
    animation: rotateCog 3s linear infinite;
}